<!DOCTYPE html>
<html lang="en">
<head>
   <%- include('../includes/head.ejs') %>
</head>
<body>
    <%- include('../includes/nav.ejs') %>
    
    


        <div class="container bg-light mt-3">
            <div class="row">
                <div class="col-md-6 offset-md-6 text-right">
                    <a href="<% server_url %>/post/create/post" class="btn btn-outline-primary">New post</a>
                </div>
            </div>
            <div class="posts" id="header-post">
                <h2 class="display-4">Posts</h2>
                        <% posts.map(post=>{ %>
                    <div class="w-75 mb-3 " style="background-color: #fff;"> 
                        <div class="mt-4">
                            <h3 class="text-grey"><%= post.title %></h3> </div> 
                            <div>
                                <a href="<% server_url %>post/<%= post._id%>" id="text-none" class="text-muted">
                                </p><%=post.description?.slice(0, 30)%>...<p>
                                </a>
                            </div>
                                <div>
                                  <a href="<% server_url %>post/<%= post._id%>">
                                    <img style="max-width: 300px;"
                                     src=" <% server_url %> <%= post.image %>"
                                      alt="<%= post.title %>" /></a>  
                                </div>
                        <div><a href="<% server_url %>post/<%= post._id%>" style="text-decoration: none;">Read more</a></div>
                       </div>  
                      <%  }) %>       
            </div>
        </div>
        <script>
            let posts = document.querySelector('.post');
            let postHeader = document.querySelector('#header-post');
            console.log(navigator.onLine);
            if (navigator.onLine !== true) {
                let errorDiv = document.createElement('div');
                errorDiv.innerHTML = `
                  <div class="container">
                        <div class="alert alert-danger">
                            Ooops you are not connected to the internet
                        </div>
                    </div>
                `;
                posts.insertBefore(errorDiv, postHeader);
            }
        </script>
</body>  
</html>   